In [1]:
import pickle
import numpy as np
import pandas as pd
from os.path import abspath
import os
import sys
if not abspath('../utils/') in sys.path:
    sys.path.append(abspath('../utils/'))
from plotting import plot_time_series

In [2]:
def load_snotel(state):
    figs_dir = abspath('../figures/')
    if not os.path.exists(figs_dir):
        os.makedirs(figs_dir)

    # ----------------------------------------- #
    #            Load SNOTEL DATA               #
    # ----------------------------------------- #

    carpeta = abspath('../data/' + state.upper() + '/')
    print(carpeta)

    with open(carpeta + '/' + 'allsnotel_dict.pickle', 'rb') as f:
        snotel = pickle.load(f)

    with open(carpeta + '/' + 'keys.pickle', 'rb') as f:
        snotel_keys = pickle.load(f)
    return snotel, snotel_keys
    # -------------------------------------------------------- #
    #           Drop Nulls and Nans                            #
    #           Convert Each Date to datetime                  #
    # -------------------------------------------------------- #

    for llave in snotel_keys:
        snotel[llave] = snotel[llave].replace('nan', np.nan)
        try:
            snotel[llave].dropna(inplace=True)
            snotel[llave]['date'] = pd.to_datetime(
                snotel[llave]['date'],
                infer_datetime_format=True
            )
        except KeyError:
            columns = snotel[llave].columns.tolist()
            columns = [
                columns[i].strip().lower()
                .replace(' ', '_').replace('(', '')
                .replace(')', '')
                for i in np.arange(len(columns))
            ]
            snotel[llave].columns = columns
            snotel[llave].dropna(inplace=True)
            snotel[llave]['date'] = pd.to_datetime(
                snotel[llave]['date'],
                infer_datetime_format=True
            )
        except KeyError:
            print(
                'Oops, something is not quite right with Snotel Site:\n\n' +
                llave + '\n\nPlease check the pickled file for errors.\n\n'
            )
    return snotel, snotel_keys

In [3]:
snotel, keys = load_snotel('UT')

/Users/joel.gongora/repos/metstation/data/UT

In [5]:
# !pip install lxml
table = pd.read_html('https://wcc.sc.egov.usda.gov/nwcc/yearcount?network=sntl&counttype=statelist&state=')

In [9]:
table[1]

,ntwk,state,site_name,ts,start,lat,lon,elev,county,huc
0,SNTL,AK,Alexander Lake (1267),NaN,2014-August,61.75,-150.89,160,Matanuska-susitna,Headwaters Alexander Creek (190205051106)
1,SNTL,AK,American Creek (1189),NaN,2011-August,64.79,-141.23,1050,Southeast Fairbanks,American Creek (190705050504)
2,SNTL,AK,Anchor River Divide (1062),NaN,1980-October,59.86,-151.32,1653,Kenai Peninsula,Headwaters Anchor River (190203010701)
3,SNTL,AK,Anchorage Hillside (1070),NaN,2004-October,61.11,-149.67,2080,Anchorage,South Fork Campbell Creek (190204010601)
4,SNTL,AK,Aniak (2065),NaN,2002-July,61.58,-159.58,80,Bethel,Aniak Slough-Kuskokwim River (190305020504)
...,...,...,...,...,...,...,...,...,...,...
885,SNTL,WY,Whiskey Park (859),NaN,1985-October,41.00,-106.91,8950,Carbon,King Solomon Creek (140500030102)
886,SNTL,WY,Willow Creek (868),NaN,1979-October,42.82,-110.84,8080,Lincoln,Tygee Creek (170401050204)
887,SNTL,WY,Windy Peak (872),NaN,1979-October,42.28,-105.58,7900,Albany,Middle Bear Creek (101800080802)
888,SNTL,WY,Wolverine (875),NaN,1979-October,44.80,-109.66,7650,Park,Crazy Creek (100700060104)
889,SNTL,WY,Younts Peak (878),NaN,1979-October,43.93,-109.82,8350,Park,East Fork Creek (100800130103)